h1 {
    color: #0e4e92;
    font-size: 55px;
    }

    p {
    color: #ad0808;
    font-size: 42px;
    }

    a {
    color: #a809e7;
    text-decoration: none;
    font-size: 45px;
    }


